{% extends 'base.html.twig' %}

{% set bannerPath = 'img/author.jpg' %}

{% block meta_og %}
    <meta name="description" content="Articles de {{ author }}">
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="{{ app.request.uri }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="GauCode Blog">
    <meta property="og:description" content="Articles de {{ author }}">
    <meta property="og:image" content="{{ absolute_url(asset(bannerPath)) }}">
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="{{ app.request.getSchemeAndHttpHost() }}">
    <meta property="og:url" content="{{ app.request.uri }}">
    <meta name="twitter:title" content="GauCode Blog">
    <meta name="twitter:description" content="Articles de {{ author }}">
    <meta name="twitter:image" content="{{ absolute_url(asset(bannerPath)) }}">
{% endblock %}

{% block title %}{{ author }} - {{ parent() }}{% endblock %}

{% block header %}
    <header class="masthead" style="background-image: url({{ asset(bannerPath) }})">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1>Articles de {{ author }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                {% for article in articles %}
                    {% include 'article/_card.html.twig' with {article} only %}
                {% endfor %}
            </div>
        </div>
    </article>
{% endblock %}
