<div class="col-md-6 col-lg-4 col-xl-3 mb-4">
    <a href="{{ path('app_article_show', {'category': article.category, 'slug': article.slug}) }}">
        <div class="card h-100">
            <img class="card-img-top" src="{{ asset(getBannerPath(article.category, article.slug)) }}" alt="">
            <div class="card-body d-flex flex-column flex-nowrap justify-content-between">
                <h5 class="card-title">{{ article.title }}</h5>
                <p class="card-text">{{ article.subtitle }}</p>
                <small class="text-muted">{{ article.author }}</small>
            </div>
        </div>
    </a>
</div>
