{% extends 'base.html.twig' %}

{% set bannerPath = getBannerPath(article.category, article.slug) %}

{% block meta_og %}
    <meta name="description" content="{{ article.subtitle|default(article.title) }}">
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="{{ app.request.uri }}">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ article.title }}">
    <meta property="og:description" content="{{ article.subtitle|default('The LocalHost Blog') }}">
    <meta property="og:image" content="{{ absolute_url(asset(bannerPath)) }}">
    <meta property="og:article:author" content="{{ article.author }}">
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="{{ app.request.getSchemeAndHttpHost() }}">
    <meta property="og:url" content="{{ app.request.uri }}">
    <meta name="twitter:title" content="{{ article.title }}">
    <meta name="twitter:description" content="{{ article.subtitle|default('The LocalHost Blog') }}">
    <meta name="twitter:image" content="{{ absolute_url(asset(bannerPath)) }}">
{% endblock %}

{% block title %}[{{ article.category|upper }}] {{ article.title }} - {{ parent() }}{% endblock %}

{% block header %}
    <header class="masthead" style='background-image: url("{{ asset(bannerPath) }}")'>
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10">
                    <div class="post-heading">
                        <h1>{{ article.title }}</h1>
                        <h2 class="subheading">{{ article.subtitle }}</h2>
                        <span class="meta">Écrit par <a href="{{ path('app_author_profile', {'author': article.author}) }}">{{ article.author }}</a></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    <article class="mb-4">
        <div class="container px-3 px-lg-4">
            {{ article.content|raw }}
        </div>
    </article>
{% endblock %}

{% block javascripts %}
    <script>
        const images = document.getElementsByTagName('img');
        for (let image of images) {
            image.src = image.src.replace('article', 'articles');
            image.src = image.src.replace('{{ article.category }}', '{{ article.category ~ '/' ~ article.slug }}');
            mediumZoom(image);
        }

        for (let code of document.getElementsByTagName('code')) {
            const spaceIndex = code.textContent.indexOf('\n');
            if (spaceIndex === -1) {
                continue;
            }

            const preWrapper = document.createElement('pre');
            preWrapper.classList.add(`language-${code.className}`);
            preWrapper.classList.add(`match-braces`);
            preWrapper.setAttribute('tabindex', '0');
            
            const parent = code.parentNode;
            parent.replaceChild(preWrapper, code);
            preWrapper.appendChild(code);
        }
    </script>
{% endblock %}
