{% extends 'base.html.twig' %}

{% block title %}[{{ article.category|upper }}] {{ article.title }} - {{ parent() }}{% endblock %}

{% block header %}
    <header class="masthead" style="background-image: url({{ asset(getBannerPath(article.category, article.slug)) }})">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10   ">
                    <div class="post-heading">
                        <h1>{{ article.title }}</h1>
                        <h2 class="subheading">{{ article.subtitle }}</h2>
                        <span class="meta">Écrit par <a href="{{ path('app_author_profile', {'author': article.author}) }}">{{ article.author }}</a></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    <article class="mb-4">
        <div class="container px-3 px-lg-4">
            {{ article.content|raw }}
        </div>
    </article>
{% endblock %}

{% block javascripts %}
    <script>
        const images = document.getElementsByTagName('img');
        for (let image of images) {
            image.src = image.src.replace('article', 'articles');
            image.src = image.src.replace('{{ article.category }}', '{{ article.category ~ '/' ~ article.slug }}');
        }

        const codes = document.getElementsByTagName('code');
        for (let code of codes) {
            const spaceIndex = code.textContent.indexOf('\n');
            const language = spaceIndex === -1 ? code.textContent : code.textContent.substr(0, spaceIndex);
            let comment = ['php', 'shell', 'bash'].includes(language) ? '#' : '//';
            if (language === 'html') {
                comment = '<!--';
                code.textContent = code.textContent.substring(0, spaceIndex) + ' -->' + code.textContent.substring(spaceIndex);
            }

            code.textContent = `${comment} ${code.textContent}`;

            code.classList.add(`language-${language}`);

            const parent = code.parentNode;
            const preWrapper = document.createElement('pre');

            parent.replaceChild(preWrapper, code);
            preWrapper.appendChild(code);
        }
    </script>
{% endblock %}
